* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: fantasy;
    font-weight: lighter;
    font-size: 3em;
    border-bottom: 2px solid brown;
    border-right: 2px solid brown;
    width: 50vh;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    margin: 5px 0 20px 5px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 450px;
    height: 300px;
    margin: 5px;
    transition: all 1s;
}

img:hover {
    transform: rotate(20deg) scale(1.5);
}